/* General styling */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
    background-image: url(../images/background.jpeg);
    font-family: Poppins, sans-serif;
    text-align: center;
}

.btn {
    background-color: #75726A;
    color: #f5f5f5;
    font-size: medium;
    width: 120px;
    height: 60px; 
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #eae3d3;
    border: 2px solid #75726A;
    color: #75726A;
}

/* Styling for welcome container including how to play and play game button */
#welcome-container {
    background-color: #f3f3f3;
    max-width:700px;
    margin: auto; 
    border: 3px solid #75726A;
    border-radius: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

#welcome-container h2, h3 {
    padding: 3px;
}

#welcome-container h2 {
    padding-top: 7px;
}

#welcome-container p {
    padding-left: 5px;
    padding-right: 5px;
}

#welcome-container ul {
    padding-left: 40px;
    padding-right: 20px;
    text-align: left;
}

#name {
    width: 200px;
    height: 25px;
    border-radius: 8px;
    outline-color: #75726A;
    margin-bottom: 10px;
    padding-left: 5px;
}

#play-span {
    background-color: #75726A;
    color: whitesmoke;
    border-radius: 3px;
    padding: 1px;
}

.btn-play, .btn-submit {
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
    outline: none;
}

/* Styling for game container including image, answer options, submit button, feedback and score */

#game-container {
    background-color: #eae3d3;
    max-width: 700px;
    margin: auto; 
    border-radius: 20px;
    display: none;
}

#quiz-photo {
    max-width: 600px; 
    margin: auto; 
}

.dogPhoto {
    width: 90%;
    height: auto;
    border: 3px solid #a49f94;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#answer-options {
    background-color: whitesmoke;
    width: 75%;
    margin: auto;
    border-radius: 20px;
    padding-top: 10px; 
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#answer-feedback {
    font-size: medium;
    color: grey;
    border-radius: 20px; 
    width: 90%;
    text-align: center;
    margin: auto;
}

#score-container {
    padding-bottom: 10px;
}

.btn-next, .btn-final {
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
    display: none;
}

/**final button - mke it a darker colour**/

#exit-game {
    padding-bottom: 10px;
    color: #75726A;
    font-size: x-large;
    cursor: pointer;
    background-color: transparent;
}

/* Styling for game container including image, answer options, submit button, feedback and score */
#final-score {
    background-color: #f3f3f3;
    max-width:700px;
    margin: auto; 
    padding-left: 3px;
    padding-right: 3px;
    display: none;
}

#certificate {
    background: url(../images/certificate-border.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-right: 10px;
    height: 520px;
}

#certificate-text {
    display: inline-block; 
    margin-top: 25%;
    width: 70%;
}

.btn-play, .btn-home {
    display: inline-block;
    clear: both;
}

#certificate-image {
    display: block;
    margin: auto;
}