/* General styling */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
    background-image: url(/assets/images/background.jpeg);
    font-family: Poppins, sans-serif;
    text-align: center;
}

#welcome-container {
    background-color: beige;
    max-width:700px;
    height: 10vh;
    margin: auto; 
}

#game-container {
    background-color: #eae3d3;
    max-width: 700px;
    margin: auto; 
    /*display: ;*/
}
#quiz-photo {
    background-color: darkgray;
    max-width: 600px; 
    margin: auto; 
    border: 3px solid #eae3d3; 
    border-radius: 20px;
}

#answer-options {
    background-color: whitesmoke;
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

#final-score {
    display: none;
}

button {
    background-color: #a49f94;
    color: whitesmoke;
    font-size: medium;
    width: 120px;
    height: 60px; 
    border: 2px solid #eae3d3;
    border-radius: 10px;
}

#answer-feedback {
    height: 50px;
    background-color: grey;
}

.dogPhoto {
    width: 90%;
    height: auto;
}

.header-image {
    line-height: 20px;
}